html, body {
    height: 100%;
    color: #5d5d5d;
}

h1{
    color: #0d0d0d;
}
h2{
    color: #292929;
}
h3{
    color: #3f3f3f;
}
h4, .h4{
    color: #4e4e4e;
}
.bold{
    font-weight: bold;
}


.side-menu{
    height: 100vh;
    overflow: auto;
}

.fill-screen{
    min-height: 100vh;
}

.sticky{
    position: sticky;
    top: 0;
}

.margin-top-0{
   margin-top: 0;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.full-screen{
    min-height: 100vh;
}

.table-of-contents ul li{
    margin-left: 5px;
    font-size: smaller;
}

.table-of-contents li a{
    color: #474747;
    border-bottom: none;
}


.fixed-position{
    position: fixed;
}

.section-wrapper{

}

.top-nav{
    height: 60px;
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wordcloud-img{
    height: 75vh;
    width: auto;
    padding-bottom: 50px;
}
.carousel .carousel-item>.wordcloud-img {
    width: auto !important;
}

.carousel .indicators .indicator-item {
    background-color: #a6a6a6;
}
.carousel .indicators .indicator-item.active {
    background-color: #0d0d0d;
}

.wordcloud-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.wordcloud-img-container p{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bolder;
}

.network-container {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.network-container img{
    width: auto;
    height: 100vh;
}

.network-container img.carousel-net{
    width: auto;
    height: 90vh;
}


.network-container img.community{
    width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    z-index: 999;
}

.network-container:hover .image-overlay {
    opacity: 1;
}

.legend {
    color: #4e4e4e;
    font-size: 1.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    text-align: left;
}

.legend-2 {
    color: #4e4e4e;
    font-size: 1.5em;
    position: absolute;
    top: 0.5em;
    left: 200px;
    text-align: left;
}

.legend div{
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.legend-2 div{
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.legend-image-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    float: right;
    background: rgba(255,255,255,0.65);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.legend-image-container p{
    color: #4e4e4e;
    font-weight: bold;
}

.legend-image-container img{
    max-width: 600px;
    height: auto;
}

.node-label.gryffindor{
    background: #CC2A36;
    opacity: 0.65;
}

.gryffindor{
    color: #CC2A36;
}

.node-label.slytherin {
    background: #05ac72;
    opacity: 0.65;
}
.node-label.hufflepuff {
    background: #ffa351;
    opacity: 0.65;
}
.node-label.ravenlclaw {
    background: #456789;
    opacity: 0.65;
}
.node-label.muggle {
    background: #cccc;
    opacity: 0.65;
}
.node-label.default {
    background: #4e0333;
    opacity: 0.65;
}

.node-label.phoenix {
    background: #fa5b0b;
    opacity: 0.65;
}

.node-label.eater {
    background: #4da04e;
    opacity: 0.65;
}

.node-label.com0{
    background: #1676B6;
    opacity: 0.65;
}

.node-label.com1 {
    background: #FF7F00;
    opacity: 0.65;
}
.node-label.com2 {
    background: #24A121;
    opacity: 0.65;
}
.node-label.com3 {
    background: #D8241F;
    opacity: 0.65;
}
.node-label.com4 {
    background: #FFFF99;
    opacity: 0.65;
}
.node-label.com5 {
    background: #BDAED4;
    opacity: 0.65;
}
.node-label{
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sub-section{
    font-size: small;
    margin-left: 20px;
}

.degree-image{
    width: 100%;
    height: auto;
}

.hidden{
    display: none;
}

.py-1{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.overflow-auto{
    overflow: auto
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container.start{
    align-items: center;
}
.menu-link{
    font-weight: 300;
    color: #0d0d0d;
    padding-left: 16px;
    height: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
}

.menu-link:hover{
    color: #474747;
}

a.link{
    color: #ee6e73;
    border-bottom: solid #ee6e73 1px;
}
a.link:hover, a.link:visited:hover{
    color: #e93f45;
    border-bottom: solid #e93f45 1px;
}
a.link:visited{
    color: #f39b9e;
    border-bottom: solid #f39b9e 1px;
}

.github-link{
    color: #0d0d0d;
    padding-left: 16px;
}

a.github-link:visited{
    color: #474747;
}
.github-container{
    position: fixed;
    bottom: 16px;
    left: 0;
}

.menu-link:hover{
    border-left: 1px solid #ee6e73;
    padding-left: 15px;
    user-select: none;
}

.header-tooltip{
    margin-left: 1rem;
    font-size: 1.5rem;
}
.tooltipped{

}

.sequence-image{
    min-height: 33vh;
    width: auto;
}



section{
    margin-left: 10px;
    margin-right: 10px
}

h2 {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #0d0d0d ;
    margin:10px 0 20px; }
h2 span { background:white; padding:0 10px; }

.no_underline{
    border-bottom: none
}

.sent-image{
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.title{
    font-weight: bolder
}

td span{
    color: #0d0d0d;
    font-weight: bold;
}

.col .row{
    margin-left: 0;
    margin-right: 0;
}

.hidden-row{
    display: none;
}

.sources ul{
    margin-left: 20px;
}
.sources a{
    color: #0d0d0d;
    font-weight: 300;
    padding-left: 16px;
    height: 1.5rem;
    line-height: 1.5rem;
}

.sources a:hover{
    font-weight: 500;
    padding-left: 14px;
    border-left: 2px solid #ee6e73;
}

.cloud-text{
    color:#0d0d0d;
    position: absolute;
    top: 5px;
    left:5px;
    display: inline-block;
    max-width: 400px;
}
.cloud-text p{
    text-align: left;
    font-weight: normal;
}


